# ===== Build folders =====
build/
bin/
out/

# ===== Compiled files =====
*.o
*.obj
*.exe
*.dll
*.so
*.a

# ===== CMake =====
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# ===== IDE files =====
.vscode/
.idea/
*.user
*.suo
*.vcxproj*
*.filters

# ===== OS junk =====
.DS_Store
Thumbs.db
